<div class="container">
  <mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="CUSNO">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CUSNO</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.CUSNO}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="CNAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CNAME</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.CNAME }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="CCITY">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>CCITY</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.CCITY}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="CSTATE">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CSTATE</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.CSTATE}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    <div style="padding:10px;" *matNoDataRow>Keine Einträge gefunden</div>
  </mat-table>

  <mat-paginator [pageSize]="15" [pageSizeOptions]="[1, 5, 10, 20]">
  </mat-paginator>

</div>